[submodule "include/extern/fastgltf"]
	path = include/extern/fastgltf
	url = https://github.com/spnda/fastgltf
[submodule "include/extern/VulkanMemoryAllocator"]
	path = include/extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "include/extern/KTX-Software"]
	path = include/extern/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
