[submodule "src/extern/fastgltf"]
	path = src/extern/fastgltf
	url = https://github.com/spnda/fastgltf

[submodule "src/extern/VulkanMemoryAllocator"]
	path = src/extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator

[submodule "src/extern/KTX-Software"]
	path = src/extern/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
